/******************************
            =STYLE INDEX
******************************
=SASS
=BASE
=BUTTONS
=NAV
=HEADER
=CARDS
=PROJECTS
=FOOTER
=CONTACTFORM

 CSS ORDER
 ---------------------------------------------------
 Layout Properties (position, float, clear, display)
 Box Model Properties (width, height, margin, padding)
 Visual Properties (color, background, border, box-shadow)
 Typography Properties (font-size, font-family, text-align, text-transform)
 Misc Properties (cursor, overflow, z-index)*/

$primary-color: #20aebb;
$img-border: #ececec;
$font-main: 'Open Sans', Helvetica, Arial, sans-serif;
$font-ft: 'Playfair Display', Georgia, serif; 

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($x1, $y1, $blur1, $opacity1, $x2, $y2, $blur2, $opacity2 ) {
		-webkit-box-shadow: $x1 $y1 $blur1 rgba(0,0,0,$opacity1), $x2 $y2 $blur2 rgba(0,0,0,$opacity2);
		-moz-box-shadow: $x1 $y1 $blur1 rgba(0,0,0,$opacity1), $x2 $y2 $blur2 rgba(0,0,0,$opacity2);
		box-shadow: $x1 $y1 $blur1 rgba(0,0,0,$opacity1), $x2 $y2 $blur2 rgba(0,0,0,$opacity2);
}

/******************************
            =BASE
******************************/

html {
	font-size: 10px;
	line-height: 1.4;
	font-family: $font-main;
	font-weight: 300;
}

header, footer, main, aside, article, div, .card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
	line-height: normal;
	font-family: $font-ft;
	font-weight: 400;

}
ul {
	margin: 0;
	padding: 0;
}

p:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.container {
	margin: 10em auto 0;

	&.container--single {
		margin-top: 5em;
	}
}

.container__title,
.project__title {
	font-size: 5em;
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		width: 76%;
		height: 2px;
		left: 12%;
		right: 12%;
		z-index: -2;
	}
}

.container__title--bg {
	position: relative;
	top: -38px;
	padding: 0 20px;
}

.container__title--black {
	color: black;

	&:before {
		background-color: black;
	}

	.container__title--bg {
		background-color: white;
	}
}

.container__title--white {
	color: white;

	&:before {
		background-color: white;
	}

	.container__title--bg {
		background-color: black;
	}
}


.container__title--bg-black {
	background-color: black;
}

.img--block {
	display: block;
	width: 100%;
}

.main--home {
	position: relative;
	top: -150px;
}

.main--project {
	position: relative;
	top: -500px;
}

.main--global {
	margin-bottom:10em;
}

.social {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.social__link {
	margin: 0 10px;
}

.social__icon {
	width: 35px;
	@include border-radius(100%);
	transition: 0.4s all ease;

	&:hover {
		transform: scale(1.2);
	}
}


/* Remove box shadow firefox, chrome and opera put around required fields.*/
input:required, textarea:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}


/******************************
            =BUTTONS
******************************/
.container__button {
	margin-top: 5em;
	text-align: center;
}

.btn,
.contact-form__button {
	padding: 10px 20px;
	@include border-radius(5px);
	font-family: $font-main;
	font-weight: 600;
	font-size: 1.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.4s all ease;

	&:hover {
		background: $primary-color;
		color: white;
	}
}

.btn--more,
.contact-form__button {
	border: 2px solid $primary-color;
	color: $primary-color;
}

.contact-form__button {
	display: block;
	margin: 0 auto;
	background: transparent;
	cursor: pointer;
}


/******************************
            =NAV
******************************/
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	.header--global &,
	.header--project & {
		justify-content: space-around;
	}
}


.nav__item {
	display: inline-block;
	padding: 0 20px;
	list-style-type: none;
	
	&:last-child {
		border: none;
	}
}

.nav__link {
	position: relative;
	color: white;
	font-size: 1.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.4s color ease;

	&:hover {
		color: $primary-color;
		z-index: 2;
	}
	
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: -10px;
		opacity: 0;
		left: 0;
		background-color: #20aebb;
		-webkit-transition: 0.2s all ease-in-out;
		transition: 0.2s all ease-in-out;
	}

	&:hover:before {
		opacity: 1;
		bottom: -2px;
	}
}

/******************************
            =HEADER
******************************/
header {
	background: URL('../img/assets/bg.jpg') no-repeat;
	background-size: cover;
}

.header--home,
.header--project {
	height: 65vh;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.header--global {
	height: 9.3em;
}

.header__logo {
	width:100px;
}

.zd-info {
	margin: 8em 0;
	text-align: center;
}

.zd-info__logo {
	max-width: 400px;
	margin: 0 auto;
}

.zd-info__title {
	color: $primary-color;
	font-size: 2.5em;
	letter-spacing: 2px;
	font-family: $font-main;
	font-weight: 300;
	text-transform: uppercase;
}

#zd-logo {
	fill:white;
	transition: 0.4s fill ease;
	
	&:hover {
		fill: $primary-color;
	}
}

/******************************
            =CARDS
******************************/

.card {
	display: flex;
	justify-content: space-between;

	@include border-radius(10px);
	@include box-shadow(0, 3px, 6px, 0.16, 0, 3px, 6px, 0.23);
	background: white;

	&.card--single {
		background: none;
	}
}

.card__heading {
	font-size: 3.5em;
	margin: 0 0 20px;
}

.card__content {
	font-size: 2em;
}

.card--center {
	margin: 0 auto;
}

.card--about {
	padding: 10px;	
	max-width: 800px;

	.card__left {
		width:62.5%;
		padding:10px;
	}

	.card__right {
		width: 37.5%;
		padding: 10px;
	}
}

.img__headshot {
	@include border-radius(100%);
	@include box-shadow(0, 3px, 6px, 0.16, 0, 3px, 6px, 0.23);
}

.card--project {
	margin-top: 5em;
	max-width: 1000px;

	.card__left {
		width: 44%;
	}

	.card__right {
		width: 56%;
		padding: 20px;
	}
}

.card__thumbnail {
	background: url('../img/assets/hrgrapevine-news.jpg');	
	background-size: cover;
	@include border-radius(10px 0 0 10px);
	border-right: 1px solid $img-border;
}

.card--writing {

}

.card--single {
	max-width: 1000px;
}



/******************************
            =PROJECT
******************************/

.container--project {
	max-width: 1300px;
}

.project__link {
	display: block;
	color: black;
	transition: 0.4s all ease;

	&:hover {
		transform: scale(1.1);
	}
}

.container--single {
	max-width: 1000px;
}

.project__info__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto 10em;
}

.project__info {
	width: 49%;
}

.project__info__title {
	font-size: 3em;
	margin-bottom: 10px;
}

.project__info__content {
	font-size: 2em;
	margin-top:0;
}

.project__title {
	color: white;
}


.project__process {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5em;

	& .project__info__title {
		margin: 0;
	}
}

.project__process__img{
	width: 44%;
}

.project__process__content {
	width:56%;
}

.project__process__content--right {
	padding-left: 20px;
}

.project__process__content--left {
	padding-right: 20px;
}

/******************************
            =FOOTER
******************************/

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 30px;
	background: black;
	z-index: 0;
}

.footer__meta {
	margin-top: 4em;
	color: white;
	font-size: 1.5em;
	text-align: center;
}

/******************************
            =CONTACTFORM
******************************/

.contact-form {
	display: flex;
	justify-content: center;

	form {
		width: 40%;
	}
}

.contact-form__input,
.contact-form__select,
.contact-form__textarea {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 1px 0;
	background: transparent;
	border: none;
	font-size: 2em;
	font-family: $font-main;
	font-weight: 300;
	outline: 0;

	.form--bg-black & {
		color: white;
		border-bottom: 1px solid white;
	}

	.form--bg-white & {
		color: black;
		border-bottom: 1px solid black;
	}
}

.form--bg-white ::-webkit-input-placeholder {
    color: black;
    opacity: 1;
}

.form--bg-white :-moz-placeholder {
    color: black;
    opacity: 1;
}

.form--bg-white ::-moz-placeholder {
    color: black;
    opacity: 1;
}

.form--bg-white :-ms-input-placeholder {
    color: black;
}


.contact-form__label {
	position: relative;
	top: -30px;
	left: 0;
	color: $primary-color;
	font-size: 1.6em;
	opacity: 0;
	transition: .2s all ease-in-out;
}

.contact-form__textarea {
	height: 75px;
	resize: none;
}


.contact-form__input--has-value + label,
.contact-form__input:focus + label,
.contact-form__textarea--has-value + label,
.contact-form__textarea:focus + label {
	top: -65px;
	opacity: 1;
}

.contact-form__textarea--has-value + label,
.contact-form__textarea:focus + label {
	top: -116px;
}

.msg-status {
	display: none;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
	display: none;
}

.msg-status--successful {
		display: flex;
	}

.msg-status__text {
	display: inline-block;
	color: white;
	font-size: 2.5em;
}

.msg-status__icon {
	display: inline-block;
	width: 40px;
	margin-right: 20px;
}

.contact__text {
	font-size: 2.5em;
	text-align: center;
	margin: 0 auto 2em;
}
